@import "../../../styles.scss";

.progress-container {
  box-shadow: 0 4px 5px rgb(0, 0, 0, 0.1);
}

.progress-container,
.progress {
  background-color: #6a6d71;
  border-radius: 5px;
  position: relative;
  height: 4px;
  width: 500px;
}
@media only screen and (max-width: 1024px) {
  .progress-container {
    width: 100% !important;
  }
}

.progress {
  background-color: #fff;
  //width: 0;
  transition: width 0.4s linear;
}

.percentage {
  background-color: $primary-color;
  border-radius: 5px;
  box-shadow: 0 4px 5px rgb(0, 0, 0, 0.2);
  color: #fff;
  font-size: 12px;
  padding: 4px;
  position: absolute;
  top: 20px;
  //left: 0;
  transform: translateX(-50%);
  width: 40px;
  text-align: center;
  transition: left 0.4s linear;
  z-index: 100;
}

.percentage::after {
  background-color: $primary-color;
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  height: 10px;
  width: 10px;
  z-index: -1;
}
