@import "../../../../styles.scss";
.back-img {
  background-image: url("../../../../assets/img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.layer {
  background-color: rgba(0, 0, 0, 0.8);
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.bg-pink {
  background-color: $primary-color;
}

.icon-display {
  transform: scale(2);
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.example-radio-button {
  margin: 5px;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  opacity: 0.5 !important; /*click effect color change*/
  background-color: blue !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: blue !important; /*inner circle color change*/
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked
  .mat-radio-outer-circle {
  border-color: blue !important; /*outer ring color change*/
}

.text-lighter {
  color: $lighter-text;
}

.grey-hover {
  cursor: pointer;
}

.grey-hover:hover {
  background-color: #f7f7f7;
}

div {
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
}

div.fade-out {
  opacity: 0;
}

.icon-edit {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px; // Adjust the size of the circle as needed
  height: 40px;
  background-color: #f0f1f2; // Set the background color of the circle
  transition: box-shadow 0.3s ease; // Add a smooth transition for the hover effect
  cursor: pointer;
  border-radius: 5px;

  mat-icon {
    fill: #333333; // Set the color of the icon
    height: auto;
  }
}

.icon-edit:hover {
  background-color: #7a7a7a; // Increase the inset shadow on hover
  color: #fff;
}

span.mat-prefix {
  margin-right: 8px; /* Adjust the margin as needed */
  font-size: 1.2em; /* Adjust the font size as needed */
}

/* amount-selector.component.css */

.amount-buttons {
  display: flex;
  gap: 10px;
}

.amount-buttons button {
  width: 100px;
  padding: 10px;
  cursor: pointer;
  background-color: $primary-color;
  color: $secondary-color;
  border-radius: 5px;
}

.amount-buttons button.selected {
  background-color: #c26994;
}

mat-form-field {
  margin-top: 10px;
}
