<div class="h-screen flex flex-col">
  <div
    class="flex-none flex items-center justify-center lg:justify-start pl-4 p-2"
  >
    <a routerLink="/" class="cursor-pointer"
      ><img
        src="assets/img/logo/logo.png"
        class="w-[40px] md:w-[48px] lg:w-[64px]"
    /></a>
  </div>
  <div class="border-t border-[#6a6d71] lg:hidden">
    <progress-slider [percentage]="78"></progress-slider>
  </div>
  <div class="flex-grow back-img">
    <div class="layer flex lg:items-center justify-center">
      <div>
        <!-- Mobile header-->
        <div
          class="flex flex-col items-center justify-center pt-16 pb-4 text-lg text-white lg:hidden"
        >
          <div class="flex-item text-lg">Almost done!</div>
        </div>
        <!-- Mobile header-->
        <div
          class="pb-16 pt-4 px-32 flex items-center justify-center hidden lg:flex lg:items-center lg:justify-center"
        >
          <!-- Slider progressbar-->
          <progress-slider [percentage]="78"></progress-slider>
        </div>
        <!---->
        <div class="bg-transparent px-2 py-2">
          <div class="flex flex-row">
            <div
              class="back-btn flex items-center justify-center p-8 hidden lg:flex lg:items-center lg:justify-center"
            >
              <app-rotate-button
                [isBack]="true"
                [navigate]="'participate/member-start-donation'"
                (handleClick)="toggle()"
                [isEnabled]="isBackEnabled"
              ></app-rotate-button>
            </div>
            <div
              class="flex flex-row inner-form lg:h-[600px]"
              [@slideInOut]
              *ngIf="isShown"
            >
              <div
                class="basis-2/5 bg-pink text-white text-3xl flex-col items-center justify-center p-8 hidden lg:flex lg:items-center lg:justify-center w-full"
              >
                <div class="flex-item text-3xl">Almost done!</div>
                <div class="flex-item text-sm"></div>
              </div>
              <div
                class="flex-3/5 bg-white w-full shadow-2xl rounded lg:rounded-none"
              >
                <div
                  class="flex flex-col justify-between py-12 pr-12 pl-8 items-center border-b boder-solid border-[#d8d8d8] overflow-auto"
                >
                  <!-- Form Panel -->
                  <!-- your-component.component.html -->

                  <!-- your-component.component.html -->

                  <div class="flex justify-between w-full pb-8">
                    <div>
                      <div class="text-lg">Subhramalya Bose</div>
                      <div class="text-[#838383]">(smboser&#64;gmail.com)</div>
                    </div>
                    <div class="icon-edit"><mat-icon>edit</mat-icon></div>
                  </div>
                  <div class="flex justify-between w-full lg:pb-80">
                    <div>
                      <div class="text-md">Start donation</div>
                      <div class="text-[#838383]">
                        (This amount will be visible on the counter on your
                        fundraising page)
                      </div>
                    </div>
                    <div>&euro;25.00</div>
                  </div>
                  <!-- Form panel -->
                </div>
                <div
                  class="flex justify-between w-full border-t border-solid bolder-[#838383] px-12 py-4"
                >
                  <div>
                    <div class="text-md">Total</div>
                  </div>
                  <div>&euro;25.00</div>
                </div>
                <!-- <div
                class="py-8 pr-12 pl-10 items-center border-b boder-solid border-[#d8d8d8] bg-[#f0f1f2] grey-hover"
              >
                sdsds
              </div> -->
              </div>
            </div>
            <div
              class="fwd-btn flex items-center justify-center p-8 hidden lg:flex lg:items-center lg:justify-center"
            >
              <app-rotate-button
                [isBack]="false"
                [navigate]="nextForm"
                (handleClick)="toggle()"
                [isEnabled]="true"
              ></app-rotate-button>
            </div>
          </div>
          <!-- Mobile button -->
          <div class="lg:hidden flex justify-between py-4">
            <app-rotate-button
              [isBack]="true"
              [navigate]="'participate/member-start-donation'"
              (handleClick)="toggle()"
              [isMobile]="true"
              [isEnabled]="true"
            ></app-rotate-button>
            <app-rotate-button
              [isBack]="false"
              [navigate]="nextForm"
              (handleClick)="toggle()"
              [isMobile]="true"
            ></app-rotate-button>
          </div>
          <!-- Mobile button -->
        </div>
        <!---->
        <div
          class="pt-4 lg:pt-16 pb-4 flex items-center justify-center text-white cursor-pointer"
        >
          <!-- Cancel dialog-->
          <div (click)="openDialog()" class="pr-2">
            <mat-icon> cancel_presentation</mat-icon>
          </div>
          <div (click)="openDialog()">Cancel</div>
        </div>
      </div>
    </div>
  </div>
</div>
