<div class="h-screen flex flex-col">
  <div class="flex-none items-center justify-start pl-4 p-2">
    <img src="assets/img/logo/logo.png" class="w-[64px]" />
  </div>
  <div class="flex-grow back-img">
    <div class="layer flex items-center justify-center">
      <div>
        <div class="pb-16 pt-4 px-32 flex items-center justify-center">
          <!-- Slider progressbar-->
          <progress-slider [percentage]="88"></progress-slider>
        </div>
        <!---->
        <div class="flex flex-row">
          <div class="back-btn flex items-center justify-center p-8">
            <app-rotate-button
              [isBack]="true"
              [navigate]="'participate/summary'"
              (handleClick)="toggle()"
              [isEnabled]="isBackEnabled"
            ></app-rotate-button>
          </div>
          <div
            class="flex flex-row inner-form h-[600px]"
            [@slideInOut]
            *ngIf="isShown"
          >
            <div
              class="basis-2/5 bg-pink text-white flex flex-col items-center justify-center p-8"
            >
              <div class="flex-item text-3xl">Choose a payment method</div>
              <div class="flex-item text-sm"></div>
            </div>
            <div class="flex-3/5 bg-white w-full shadow-2xl">
              <div
                class="flex flex-col justify-between items-center border-b boder-solid border-[#d8d8d8] overflow-auto"
              >
                <!-- Form Panel -->
                <!-- your-component.component.html -->

                <!-- your-component.component.html -->

                <div
                  class="flex justify-between w-full py-4 pr-12 pl-8 items-center border-b boder-solid border-[#d8d8d8] grey-hover"
                >
                  <div class="text-lg flex">
                    <mat-radio-button
                      class="example-radio-button"
                      [value]="'ideal'"
                      ><div class="flex">
                        <img
                          src="assets/img/logo/IDEAL_Logo.png"
                          class="w-[30px]"
                          alt="Logo"
                        />&nbsp;<span class="text-lg">iDEAL</span>
                      </div></mat-radio-button
                    >
                  </div>
                </div>
                <div
                  class="flex justify-between w-full py-4 pr-12 pl-8 items-center border-b boder-solid border-[#d8d8d8] grey-hover"
                >
                  <div class="text-lg">
                    <mat-radio-button
                      class="example-radio-button"
                      [value]="'visa'"
                      ><div class="flex">
                        <img
                          src="assets/img/logo/Visa_Inc._logo.svg"
                          class="w-[30px]"
                          alt="Logo"
                        />&nbsp;<span class="text-lg">Visa</span>
                      </div></mat-radio-button
                    >
                  </div>
                </div>
                <div
                  class="flex justify-between w-full py-4 pr-12 pl-8 items-center border-b boder-solid border-[#d8d8d8] grey-hover"
                >
                  <div class="text-lg">
                    <mat-radio-button
                      class="example-radio-button"
                      [value]="'master_card'"
                      ><div class="flex">
                        <img
                          src="assets/img/logo/MasterCard_Logo.svg"
                          class="w-[30px]"
                          alt="Logo"
                        />&nbsp;<span class="text-lg">MasterCard</span>
                      </div></mat-radio-button
                    >
                  </div>
                </div>
                <div
                  class="flex justify-between w-full py-4 pr-12 pl-8 items-center border-b boder-solid border-[#d8d8d8] grey-hover"
                >
                  <div class="text-lg">
                    <mat-radio-button
                      class="example-radio-button"
                      [value]="'maestro'"
                      ><div class="flex">
                        <img
                          src="assets/img/logo/Maestro_logo.svg"
                          class="w-[30px]"
                          alt="Logo"
                        />&nbsp;<span class="text-lg">Maestro</span>
                      </div></mat-radio-button
                    >
                  </div>
                </div>
                <div
                  class="flex justify-between w-full py-4 pr-12 pl-8 items-center border-b boder-solid border-[#d8d8d8] grey-hover"
                >
                  <div class="text-lg">
                    <mat-radio-button
                      class="example-radio-button"
                      [value]="'amex'"
                      ><div class="flex">
                        <img
                          src="assets/img/logo/American_Express_logo_(2018).svg"
                          class="w-[30px]"
                          alt="Logo"
                        />&nbsp;<span class="text-lg">Anerican Express</span>
                      </div></mat-radio-button
                    >
                  </div>
                </div>
                <div
                  class="flex justify-between w-full py-4 pr-12 pl-8 items-center border-b boder-solid border-[#d8d8d8] grey-hover"
                >
                  <div class="text-lg">
                    <mat-radio-button
                      class="example-radio-button"
                      [value]="'bancontact'"
                      ><div class="flex">
                        <img
                          src="assets/img/logo/Bancontact_logo.svg"
                          class="w-[30px]"
                          alt="Logo"
                        />&nbsp;<span class="text-lg">Bancontact</span>
                      </div></mat-radio-button
                    >
                  </div>
                </div>
                <!-- Form panel -->
              </div>
              <div class="flex justify-between w-full px-12 py-16"></div>
            </div>
          </div>
          <div class="fwd-btn flex items-center justify-center p-8">
            <app-rotate-button
              [isBack]="false"
              [navigate]="nextForm"
              (handleClick)="toggle()"
              [isEnabled]="true"
              class="hidden"
            ></app-rotate-button>
          </div>
        </div>
        <!---->
        <div
          class="pt-16 pb-4 flex items-center justify-center text-white cursor-pointer"
        >
          <!-- Cancel dialog-->
          <div (click)="openDialog()" class="pr-2">
            <mat-icon> cancel_presentation</mat-icon>
          </div>
          <div (click)="openDialog()">Cancel</div>
        </div>
      </div>
    </div>
  </div>
</div>
