<div class="h-screen flex flex-col">
  <div
    class="flex-none flex items-center justify-center lg:justify-start pl-4 p-2"
  >
    <a routerLink="/" class="cursor-pointer"
      ><img
        src="assets/img/logo/logo.png"
        class="w-[40px] md:w-[48px] lg:w-[64px]"
    /></a>
  </div>
  <div class="border-t border-[#6a6d71] lg:hidden">
    <progress-slider [percentage]="25"></progress-slider>
  </div>
  <div class="flex-grow back-img">
    <div class="layer flex lg:items-center justify-center">
      <div>
        <!-- Mobile header-->
        <div
          class="flex flex-col items-center justify-center pt-16 pb-4 text-lg text-white lg:hidden"
        >
          <div class="flex-item text-lg">Team member</div>
          <div class="flex items-center justify-center text-center text-sm">
            I want to join an existing team.
          </div>
        </div>
        <!-- Mobile header-->
        <div
          class="pb-16 pt-4 px-32 flex items-center justify-center hidden lg:flex lg:items-center lg:justify-center"
        >
          <!-- Slider progressbar-->
          <progress-slider [percentage]="25"></progress-slider>
        </div>
        <!---->
        <div class="bg-transparent px-2 py-2">
          <div class="flex flex-row">
            <div
              class="back-btn flex items-center justify-center p-8 hidden lg:flex lg:items-center lg:justify-center"
            >
              <app-rotate-button
                [isBack]="true"
                [navigate]="'participate/how-to-participate'"
                (handleClick)="toggle()"
                [isEnabled]="isBackEnabled"
              ></app-rotate-button>
            </div>
            <div
              class="flex flex-row inner-form lg:h-[600px] w-full"
              [@slideInOut]
              *ngIf="isShown"
            >
              <div
                class="basis-2/5 bg-pink text-white text-3xl flex-col items-center justify-center p-8 hidden lg:flex lg:items-center lg:justify-center w-full"
              >
                <div class="flex-item text-3xl">Team member</div>
                <div class="flex-item text-sm">
                  I want to join an existing team.
                </div>
              </div>
              <div
                class="flex-3/5 bg-white w-full shadow-2xl rounded lg:rounded-none"
              >
                <div
                  class="flex py-8 pr-12 pl-10 items-center border-b boder-solid border-[#d8d8d8] bg-[#f0f1f2] grey-hover rounded lg:rounded-none"
                >
                  <div class="text-lg">Which team do you want to join?</div>
                </div>
                <div
                  class="flex justify-between lg:pt-24 pr-12 pl-8 pb-4 items-center lg:max-h-[465px] lg:min-h-[250px] lg:overflow-auto"
                >
                  <!-- Form Panel -->
                  <!-- your-component.component.html -->

                  <!-- your-component.component.html -->

                  <form [formGroup]="form" class="w-full">
                    <div>
                      <mat-form-field appearance="fill" class="w-full">
                        <mat-label>Select a team</mat-label>
                        <!-- <input matInput formControlName="team" required /> -->
                        <mat-select
                          formControlName="team"
                          [(value)]="selectedValue"
                          required
                        >
                          <mat-option value="" disabled
                            >-- Select --</mat-option
                          >
                          <mat-option value="option1">Team 1</mat-option>
                          <mat-option value="option2">Team 2</mat-option>
                          <mat-option value="option3">Team 3</mat-option>
                        </mat-select>
                        <mat-icon
                          matSuffix
                          *ngIf="
                            getFormControl('team')?.invalid &&
                            (getFormControl('team')?.dirty ||
                              getFormControl('team')?.touched)
                          "
                          >cancel</mat-icon
                        >
                        <mat-icon
                          matSuffix
                          *ngIf="getFormControl('team')?.valid"
                          >check_circle</mat-icon
                        >
                        <mat-error *ngIf="getFormControl('team')?.invalid"
                          >Team name is missing</mat-error
                        >
                      </mat-form-field>
                    </div>
                  </form>
                  <!-- Form panel -->
                </div>
              </div>
            </div>
            <div
              class="fwd-btn flex items-center justify-center p-8 hidden lg:flex lg:items-center lg:justify-center"
            >
              <app-rotate-button
                [isBack]="false"
                [navigate]="nextForm"
                (handleClick)="toggle()"
                [isEnabled]="this.form.valid"
              ></app-rotate-button>
            </div>
          </div>
          <!-- Mobile button -->
          <div class="lg:hidden flex justify-between py-4">
            <app-rotate-button
              [isBack]="true"
              [navigate]="'participate/how-to-participate'"
              (handleClick)="toggle()"
              [isMobile]="true"
              [isEnabled]="true"
            ></app-rotate-button>
            <app-rotate-button
              [isBack]="false"
              [navigate]="nextForm"
              (handleClick)="toggle()"
              [isMobile]="true"
              [isEnabled]="this.form.valid"
            ></app-rotate-button>
          </div>
          <!-- Mobile button -->
        </div>
        <!---->
        <div
          class="pt-4 lg:pt-16 pb-4 flex items-center justify-center text-white cursor-pointer"
        >
          <!-- Cancel dialog-->
          <div (click)="openDialog()" class="pr-2">
            <mat-icon> cancel_presentation</mat-icon>
          </div>
          <div (click)="openDialog()">Cancel</div>
        </div>
      </div>
    </div>
  </div>
</div>
