<div class="flex items-center justify-center lg:hidden p-2">
  <img src="assets/img/logo/logo.png" class="w-[54px]" />
</div>
<picture
  ><source
    media="(max-width: 480px)"
    srcset="assets/img/main-img/banner_480.webp" />
  <source
    media="(max-width: 768px)"
    srcset="assets/img/main-img/banner_768.webp" />
  <source
    media="(max-width: 1024px)"
    srcset="assets/img/main-img/banner_1024.webp" />
  <source
    media="(max-width: 1440px)"
    srcset="assets/img/main-img/banner_1440.webp" />
  <source
    media="(min-width: 1441px)"
    srcset="assets/img/main-img/banner_1441.webp" />
  <img
    class="img-responsive js-lazyload"
    alt=""
    data-src="assets/img/main-img/banner.png"
    src="assets/img/main-img/banner.png"
/></picture>
