<div class="h-screen flex flex-col">
  <div
    class="flex-none flex items-center justify-center lg:justify-start pl-4 p-2"
  >
    <a routerLink="/" class="cursor-pointer"
      ><img
        src="assets/img/logo/logo.png"
        class="w-[40px] md:w-[48px] lg:w-[64px]"
    /></a>
  </div>
  <div class="border-t border-[#6a6d71] lg:hidden">
    <progress-slider [percentage]="50"></progress-slider>
  </div>
  <div class="flex-grow back-img">
    <div class="layer flex lg:items-center justify-center">
      <div>
        <!-- Mobile header-->
        <div
          class="flex flex-col items-center justify-center pt-16 pb-4 text-lg text-white lg:hidden"
        >
          <div class="flex-item text-lg">Your personal page</div>
          <div class="flex items-center justify-center text-center text-sm">
            You can use your personal page to raise funds for Health Foundation
            Limburg. Complete your page using text and images. Personal stories
            do best!
          </div>
        </div>
        <!-- Mobile header-->
        <div
          class="pb-16 pt-4 px-32 flex items-center justify-center hidden lg:flex lg:items-center lg:justify-center"
        >
          <!-- Slider progressbar-->
          <progress-slider [percentage]="50"></progress-slider>
        </div>
        <!---->
        <div class="bg-transparent px-2 py-2">
          <div class="flex flex-row">
            <div
              class="back-btn flex items-center justify-center p-8 hidden lg:flex lg:items-center lg:justify-center"
            >
              <app-rotate-button
                [isBack]="true"
                [navigate]="'participate/member-who-are-you'"
                (handleClick)="toggle()"
                [isEnabled]="isBackEnabled"
              ></app-rotate-button>
            </div>
            <div
              class="flex flex-row inner-form lg:h-[600px] w-full"
              [@slideInOut]
              *ngIf="isShown"
            >
              <div
                class="basis-2/5 bg-pink text-white text-3xl flex-col items-center justify-center p-8 hidden lg:flex lg:items-center lg:justify-center w-full"
              >
                <div class="flex-item text-3xl">Your personal page</div>
                <div class="flex-item text-sm">
                  You can use your personal page to raise funds for Health
                  Foundation Limburg. Complete your page using text and images.
                  Personal stories do best!
                </div>
              </div>
              <div
                class="flex-3/5 bg-white w-full shadow-2xl rounded lg:rounded-none"
              >
                <div
                  class="flex justify-between pt-24 pr-12 pl-8 items-center lg:overflow-auto"
                >
                  <!-- Form Panel -->
                  <!-- your-component.component.html -->

                  <!-- your-component.component.html -->

                  <form [formGroup]="form" class="w-full">
                    <div class="w-full">
                      <mat-form-field floatLabel="always" class="w-full">
                        <mat-label>What is your fundraising goal?</mat-label>
                        <input
                          matInput
                          formControlName="goal"
                          type="number"
                          placeholder="0"
                          required
                        />
                        <span matTextPrefix>&euro;</span>
                        <mat-icon
                          matSuffix
                          *ngIf="
                            getFormControl('goal')?.invalid &&
                            (getFormControl('goal')?.dirty ||
                              getFormControl('goal')?.touched)
                          "
                          >cancel</mat-icon
                        >
                        <mat-icon
                          matSuffix
                          *ngIf="getFormControl('goal')?.valid"
                          >check_circle</mat-icon
                        >
                        <mat-error *ngIf="getFormControl('goal')?.invalid"
                          >The target amount is missing</mat-error
                        >
                      </mat-form-field>
                    </div>
                    <div>
                      <mat-form-field appearance="fill" class="w-full">
                        <mat-label>Choose a compelling title</mat-label>
                        <input matInput formControlName="title" required />
                        <mat-icon
                          matSuffix
                          *ngIf="
                            getFormControl('title')?.invalid &&
                            (getFormControl('title')?.dirty ||
                              getFormControl('title')?.touched)
                          "
                          >cancel</mat-icon
                        >
                        <mat-icon
                          matSuffix
                          *ngIf="getFormControl('title')?.valid"
                          >check_circle</mat-icon
                        >
                        <mat-error *ngIf="getFormControl('title')?.invalid"
                          >The page title is missing</mat-error
                        >
                      </mat-form-field>
                    </div>
                    <div>
                      <mat-form-field appearance="fill" class="w-full">
                        <mat-label>What motivates you?</mat-label>
                        <input matInput formControlName="motivate" required />
                        <mat-icon
                          matSuffix
                          *ngIf="
                            getFormControl('motivate')?.invalid &&
                            (getFormControl('motivate')?.dirty ||
                              getFormControl('motivate')?.touched)
                          "
                          >cancel</mat-icon
                        >
                        <mat-icon
                          matSuffix
                          *ngIf="getFormControl('motivate')?.valid"
                          >check_circle</mat-icon
                        >
                        <mat-error *ngIf="getFormControl('motivate')?.invalid"
                          >Your motivation is missing</mat-error
                        >
                      </mat-form-field>
                    </div>
                    <div class="pb-8 md:pb-16">
                      <!--Photos-->
                      <div class="py-4">Upload Photos</div>
                      <div class="flex">
                        <div class="icon-rectangle">
                          <mat-icon class="icon-display"
                            >linked_camera</mat-icon
                          >
                        </div>
                        <div class="icon-rectangle">
                          <mat-icon class="icon-display"
                            >linked_camera</mat-icon
                          >
                        </div>
                        <div class="flex hidden lg:block">
                          <div class="icon-rectangle">
                            <mat-icon class="icon-display"
                              >linked_camera</mat-icon
                            >
                          </div>
                          <div class="icon-rectangle">
                            <mat-icon class="icon-display"
                              >linked_camera</mat-icon
                            >
                          </div>
                          <div class="icon-rectangle">
                            <mat-icon class="icon-display"
                              >linked_camera</mat-icon
                            >
                          </div>
                        </div>
                      </div>
                      <!--Photos-->
                    </div>
                  </form>
                  <!-- Form panel -->
                </div>
              </div>
            </div>
            <div
              class="fwd-btn flex items-center justify-center p-8 hidden lg:flex lg:items-center lg:justify-center"
            >
              <app-rotate-button
                [isBack]="false"
                [navigate]="nextForm"
                (handleClick)="toggle()"
                [isEnabled]="this.form.valid"
              ></app-rotate-button>
            </div>
          </div>
          <!-- Mobile button -->
          <div class="lg:hidden flex justify-between py-4">
            <app-rotate-button
              [isBack]="true"
              [navigate]="'participate/member-who-are-you'"
              (handleClick)="toggle()"
              [isMobile]="true"
              [isEnabled]="true"
            ></app-rotate-button>
            <app-rotate-button
              [isBack]="false"
              [navigate]="nextForm"
              (handleClick)="toggle()"
              [isMobile]="true"
              [isEnabled]="this.form.valid"
            ></app-rotate-button>
          </div>
          <!-- Mobile button -->
        </div>
        <!---->
        <div
          class="pt-4 lg:pt-16 pb-4 flex items-center justify-center text-white cursor-pointer"
        >
          <!-- Cancel dialog-->
          <div (click)="openDialog()" class="pr-2">
            <mat-icon> cancel_presentation</mat-icon>
          </div>
          <div (click)="openDialog()">Cancel</div>
        </div>
      </div>
    </div>
  </div>
</div>
