<div class="border-b border-t border-solid border-[#dfdfdf]">
  <div class="border-b border-solid border-[#dfdfdf] ml-5 p-3">
    <a href="#" class="flex items-center justify-between animate-arrow">
      <div class="leading-none">
        <span class="primary font-bold">1</span> fundraiser
      </div>
      <div class="leading-none">
        <i class="material-icons primary animated-arrow"
          >keyboard_arrow_right</i
        >
      </div>
    </a>
  </div>
  <div class="border-b border-solid border-[#dfdfdf] ml-5 p-3">
    <a href="#" class="flex items-center justify-between animate-arrow">
      <div class="leading-none">
        <span class="primary font-bold">1</span> team
      </div>
      <div class="leading-none">
        <i class="material-icons primary animated-arrow"
          >keyboard_arrow_right</i
        >
      </div>
    </a>
  </div>
  <div class="border-b border-solid border-[#dfdfdf] ml-5 p-3">
    <a href="#" class="flex items-center justify-between animate-arrow">
      <div class="leading-none">
        <span class="primary font-bold">1</span> donation
      </div>
      <div class="leading-none">
        <i class="material-icons primary animated-arrow"
          >keyboard_arrow_right</i
        >
      </div>
    </a>
  </div>
</div>
