/* You can add global styles to this file, and also import other style files */
/* styles.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "material-icons/iconfont/material-icons.css";

$primary-color: #a2185b;
$text-color: #555555;
$secondary-color: #ffffff;
$primary-bg: #f6f8f8;
$secondary-bg: #f2f2f4;
$lighter-text: #999999;

html,
body {
  height: 100%;
  color: $text-color;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.secondary-text {
  color: $primary-color;
}
.primary-text {
  color: $text-color;
}
.inner-form {
  width: 850px;
}

// Manipulate initial background color
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent !important;
}

// Manipulate background color on hover and focus
.mat-mdc-form-field-focus-overlay {
  background-color: transparent !important;
}
